:root {
  --color-primary: hsl(158, 36%, 37%);
  --color-background: hsl(30, 38%, 92%);
  --color-secondary: hsl(212, 21%, 14%);
  --color-text: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  text-size-adjust: none;
}

body,
h2,
p {
  margin-block-end: 0;
}

h2,
button {
  line-height: 1.1;
}

h2 {
  text-wrap: balance;
}

img,
picture {
  max-width: 100%;
  height: 100%;
  display: block;
}

body {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-background);
  min-height: 100vh;
  line-height: 1.5;
}

.product-card {
  max-width: 100%;
  margin: 0 auto;
  background: var(--color-white);
  border-radius: 1.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.product-card__image-container {
  height: auto;
  padding: 0;
}

picture {
  overflow: hidden;
  border-radius: 1.25rem 0 0 0;
}

picture img {
  display: block;
  width: 100%;
  border-radius: 1.25rem 0 0 0;
}

.product-card__text {
  flex: 1;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-card__perfume-text {
  color: var(--color-text);
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.4375rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}

.product-card__title {
  color: var(--color-secondary);
  font-family: 'Fraunces';
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 0.19rem;
  margin-bottom: 1.25rem;
}

.product-card__description {
  color: var(--color-text);
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.product-card__price {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.product-card__total-price {
  color: var(--color-primary);
  font-family: 'Fraunces';
  font-size: 2.5rem;
  font-weight: 700;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.product-card__strike {
  color: var(--color-text);
  font-family: 'Montserrat';
  font-size: 0.875rem;
  font-weight: 500;
}

button.product-card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8125rem;
  flex-shrink: 0;
  padding: 1em;
  width: 100%;
  border-radius: 0.625rem;
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: 700;
  border: none;
  white-space: nowrap;
  margin-top: 2rem;
}

button.product-card__button:hover {
  background-color: var(--color-text);
  cursor: pointer;
}

.attribution {
  margin-top: 1.25rem;
  color: var(--color-secondary);
  font-family: 'Montserrat';
  font-size: 0.875rem;
  font-weight: 500;
}

@media screen and (min-width: 40em) {
  .product-card {
    max-width: 40em;
    flex-direction: row;
  }

  .product-card__image-container {
    flex: 0 0 50%;
    gap: 1.25rem;
    height: auto;
    flex-direction: row;
  }

  picture img {
    height: auto;
    object-fit: cover;
    border-radius: 1.25rem 0 0 0;
  }

  .product-card__text {
    padding: 1.25rem;
    flex: 0 0 50%;
    align-items: flex-start;
  }
}
